
<!-- <nav id="nav-header" class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Logo</a>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="person/list">Persons</a>
      </li>
    </ul>

      <a class="nav-link">User logged in as {{user.email}}</a>
      <a class="nav-link" (click)="logout()">Sign Out</a>

  </nav> -->

  <div id="header">
    <div id="system-identity">
        <h1 class="system-name"><a href="/">LOGO</a></h1>
        <span class="detailed-name"><a href="/">demo system title</a></span>
    </div>
</div>
<div id="login-status">
  <span>{{user.email}}</span> |
  <a (click)="logout()">Logout</a>
</div>
