<div id="login">
  <div id="login-box-header" >
      <span>Edit Person</span>
  </div>
  <div id="login-form">
      <form action="#" method="post" #editFrom="ngForm" ngNativeValidate>
          <p>
              <label for="inputEmail">First Name:</label>
              <input required type="text" name="firstName"  [(ngModel)]="person.firstName" placeholder="enter first name">
          </p>
          <p>
              <label for="inputPassword">Last Name:</label>
              <input required type="text" name="lastName" [(ngModel)]="person.lastName" placeholder="enter last name">
          </p>
          <p>
            <label for="inputPhoneNumber">Phone Number:</label>
            <input required type="text" name="phoneNumber" [(ngModel)]="person.phoneNumber" placeholder="enter password">
          </p>
          <p id="save-person-button">
              <input type="submit" name="savePerson" (click)="editFrom.valid? editPerson(): null" value="Edit Person">
          </p>
      </form>
  </div>
</div>
