<div id="login">
  <div id="login-box-header" >
      <span>Add Person</span>
  </div>
  <div id="login-form">
      <form action="#" method="post">
          <p>
              <label for="inputEmail">First Name:</label>
              <input type="text" name="inputEmail"  [(ngModel)]="person.firstName" placeholder="enter first name">
          </p>
          <p>
              <label for="inputPassword">Last Name:</label>
              <input type="text" name="inputPassword" [(ngModel)]="person.lastName" placeholder="enter last name">
          </p>
          <p>
            <label for="inputPhoneNumber">Phone Number:</label>
            <input type="password" name="inputPhoneNumber" [(ngModel)]="person.phoneNumber" placeholder="enter password">
          </p>
          <p id="save-person-button">
              <input type="submit" name="savePerson"  (click)="addPerson()" value="Add Person">
          </p>
      </form>
  </div>
</div>
