<!-- <div class="wrapper">
  <div class="main">
    <div class="loginwrapper">
      <div class="box">
        <p class="logintxt">
         Welcome !!!
        </p>
        <p class="logintxt">
          Sign-In
        </p>
        <p *ngIf="errormsg" style="color: #ebf919;
        font-size: 12;
        font-weight: 500;
        text-align: center;">
          {{errormsg}}
        </p>
        <form>
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" name="inputEmail3"  [(ngModel)]="user.email" placeholder="Email">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" name="inputPassword3" [(ngModel)]="user.password" placeholder="Password">
            </div>
          </div>


          <div class="form-group row">
            <div class="col-sm-10 logibtn">
              <button type="submit" class="btn btn-primary" (click)="login()">Sign in</button>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div> -->



        <div id="wrapper">
            <div id="header">
                <div id="system-identity">
                    <h1 class="system-name"><a href="/">LOGO</a></h1>
                    <span class="detailed-name"><a href="/">demo system title</a></span>
                </div>
            </div>
            <div id="middle">
                <div id="login">
                    <div id="login-box-header" >
                        <span>Please Login</span>
                    </div>
                    <div id="login-form">
                        <p id="errorMessage" *ngIf="errormsg">{{errormsg}}</p>
                        <form action="#" method="post">
                            <p>
                                <label for="inputEmail3">Email:</label>
                                <input type="email" name="inputEmail3"  [(ngModel)]="user.email" placeholder="Email">
                            </p>
                            <p>
                                <label for="inputPassword3">Password:</label>
                                <input type="password" name="inputPassword3" [(ngModel)]="user.password" placeholder="Password">
                            </p>
                            <p id="login-button">
                                <input type="submit" name="btnLogin"  (click)="login()" value="Sign in">
                            </p>
                        </form>
                    </div>
                </div>
            </div>
            <div id="footer">
                <span>Copy Right</span>
            </div>
        </div>


