<div class="wrapper">
  <div class="main">
    <div class="loginwrapper">
      <div class="box">
        <p class="logintxt">
         Welcome !!!
        </p>
        <p class="logintxt">
          Sign-In
        </p>
        <p *ngIf="errormsg" style="color: #ebf919;
        font-size: 12;
        font-weight: 500;
        text-align: center;">
          {{errormsg}}
        </p>
        <form>
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" name="inputEmail3"  [(ngModel)]="user.email" placeholder="Email">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" name="inputPassword3" [(ngModel)]="user.password" placeholder="Password">
            </div>
          </div>


          <div class="form-group row">
            <div class="col-sm-10 logibtn">
              <button type="submit" class="btn btn-primary" (click)="login()">Sign in</button>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>


