<div id="wrapper">
  <div id="header">
    <div id="system-identity">
      <h1 class="system-name"><a href="/">LOGO</a></h1>
      <span class="detailed-name"><a href="/">Title Placeholder</a></span>
    </div>
  </div>
  <div id="middle">
<div id="login">
      <div id="login-box-header" >
          <span>Please Login changed</span>
      </div>
      <div id="login-form">
        <p id="errorMessage" *ngIf="errormsg">{{ errormsg }}</p>
          <form action="#" method="post" #editFrom="ngForm">
            <p>
                  <label for="email">Username:</label>
                  <input class="form-control" type="text" #email="ngModel" id="email" name="email"  [(ngModel)]="user.email" placeholder="enter username">
              </p>
              <p>
                  <label for="password">Password:</label>
                  <input class="form-control" type="password" #password="ngModel" id="password" name="password" [(ngModel)]="user.password" placeholder="enter password">
              </p>
             <p id="login-button">
              <input
                type="submit"
                name="btnLogin"
                (click)="login()"
                value="Sign in"
              />
            </p>
          </form>
      </div>
    </div>
  </div>
  <br>
</div>


